@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

li {
  margin-left: 1.5rem;
}
